@import '../../styles/base/mixins';

.thumbnail-caraousal-wrapper {
  @include zoomImage();

  position: relative;

  .thumbnail__caraousal__column {
    margin-bottom: 4px;

    img {
      height: 120px;
      width: 100%;
      vertical-align: middle;
    }
  }


  .next--slide {
    padding: 0 34%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .active{
    cursor: pointer;
    opacity: 1;
    border-bottom: 5px solid var(--primary-brand);
  }

  .slide--image {
    display: none;

    img {
      height: 410px;
      width: 100%;
      padding: 20px;
      cursor: pointer;
      object-fit: contain;
    }
  }

}

@include desktop {
  .thumbnail-caraousal-wrapper {
    .slide--image {
      img {
        height: 680px;        
      }
    }
  }
}