.thumbnail-caraousal-wrapper {
    position: relative;

    .thumbnail-caraousal-column {
        margin-bottom: 4px;
        img {
           height: 105px; 
           width: 100%;
           vertical-align: middle;          
        }
    }

    
  .next-slide {
    padding: 25px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .thumbnail {
    opacity: 0.6;
    cursor: pointer;
  }
  
  .active,
  .thumbnail:hover {
    opacity: 1;
  }
}

.slide-image 
{
    display: none;
    img {
    width: 100%;
    padding: 20px 40px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    cursor: pointer;
    transform: scale3d(0.9, 0.9, 1);
    transition: all 0.7s;

  }
} 
   
  