@import '../../styles/base/mixins';

.text__label {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gray-d2);
    margin-bottom: 8px;
}

.text__field {

    input {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-172026);
        text-align: left;
        background: var(--white) 0% 0% no-repeat padding-box;
        border: 2px solid var(--gray-l2);
        border-radius: 8px;
        height: 44px;
        width: 100%;
        margin-bottom: 6px;


        &:active,
        &:focus {
            border: 2px solid var(--primary-d1);
        }

        &:disabled {
            background: #F3F3F4 0% 0% no-repeat padding-box;
            border: 2px solid #D1D3D6;
        }


        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--gray-m1);
        }

    }

    .error {
        border: 2px solid #EC5B62;
    }
}


@include desktop {
    .text__field {
        padding-right: 32px;
    }

}