@import '../../styles/base/mixins';

.banner-caraousal-wrapper {
    .swiper {
        width: 100%;
        height: 100%;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: var(--white);
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .swiper-pagination {
            display: block;
        }

        img {
            display: block;
            width: 100%;
            @include toRem("height", 800);          
            object-fit: cover;
        }
    }

    .banner__details {
        position: absolute;
        top: 40%;
        padding: 0 16px;
        background: transparent linear-gradient(181deg, rgba(241, 241, 241, 0) 0%, #f0f0f0 100%) 0% 0% no-repeat padding-box;
        height: 60%;

        h2 {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) var(--unnamed-font-size-48)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-source-serif-pro);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
        }

        p {
            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-muli);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-172026);
            @include toRem("padding-bottom", 32);
        }
    }   
}


@include tablet {

    .banner-caraousal-wrapper {

        .swiper {
            .swiper-button-prev,
            .swiper-button-next {
                display: block;
            }

            .swiper-pagination {
                display: none;
            }

            .swiper-button-next:after, .swiper-button-prev:after {
                color: var(--gray-d1);
                @include toRem("width", 20);
                @include toRem("height", 40);               
            }

            .swiper-button-prev, .swiper-button-next {
                @include toRem("margin-right", 16);  
            }

            img {
                height: 100%;
            }
        }

        .banner__details {
            position: initial;
            background-color: var(--gray-l1);
            @include toRem("height", 650);           
            text-align: left;
            padding: 75px 50px;
        }

        .banner__image {
            -webkit-mask-image:none;
            mask-image: none;
            @include toRem("height", 650);   
        }
    }
}


@include desktop {

    .banner-caraousal-wrapper {
        .banner__details {
            position: initial;
            background-color: var(--gray-l1);
            @include toRem("height", 650);           
            text-align: left;
            padding: 175px 100px;
        }

        .banner__image {
            -webkit-mask-image:none;
            mask-image: none;
            @include toRem("height", 650);   
        }
    }

}