@import '../../styles/base/mixins';

.accordion-wrapper {
  margin-bottom: 24px;
}

.accordion__title {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid #ddd;
  padding: 2% 2%;
}

.accordion__subtitle {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17-5) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: #72777F;
}

.accordion__content {
  display: flex;
  justify-content: flex-end;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17-5) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  border: 1px solid #ddd;
  padding: 8px;
}

.text__right {
  text-align: right;
}

.accordion__item {
  padding: 0;
}

.cart__accordian__title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-25) var(--unnamed-font-family-muli);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-172026);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;

}

@include tablet {
  .accordion-wrapper {   
    margin: 24px 16px 100px;
  }
  
  .accordion__title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid #ddd;
    padding: 2% 2%;
  }

  .accordion__content {
    display: flex;   
    justify-content: flex-end;
    padding: 10px;

  }


}